<% var hobby = site.data.hobby %>
<div class="c-hobby l-container">

  <div class="c-hobby__nav">
    <ul>
      <% hobby.forEach( function(item) { %>
        <li style="width: <%= (90 / hobby.length) + '%' %>">
          <span class="<% if(item === hobby[0]) { %>is-hobby-active<% } else { %> <% } %> js-hobby-change" data-category="<%= item.id%>"><%= __("hobby." + item.id) %></span>
        </li>
      <% }) %>
    </ul>
  </div>

  <div class="c-hobby__list">
    <% hobby.forEach( function(item) { %>
      <% item.data.forEach ( function(data) { %>
        <div class="js-hobby-trigger <% if (item !== hobby[0]) {%>is-hidden<% } %>" data-category="<%=item.id %>" data-modal="">
          <div class="c-hobby__item">
            <div title="<%= data.name %>">
              <% if (data.url) { %><a href="<%=data.url %>" target="_blank"><% } %> 
                <%- truncate(data.name, {length: 22}) %>
              <% if (data.url) { %></a><% } %>
            </div>
            <% if (data.imgUrl) { %>
              <img src="<%= data.imgUrl %>" />
            <% } %>
          </div>
        </div>
      <% }) %>
    <% }) %>
  </div>

</div>

