
<% if(contract) { %>
    <div class="c-show u-center-align">

        <div class="c-show__line--large">
            <span></span>
        </div>

        <div class="c-show__title c-show__title--left">
            <span><%= (__('about.contract')).toUpperCase() %></span>
        </div>

        <% var count = 0 %>
        <% for (var key in contract) { %>
            <% var top = (95 + count * 50) + 'px' %>

            <% if (count % 2 === 0) { %>

                <div class="c-show__dot">
                    <span></span>
                </div>

                <div class="c-show__info c-show__info--left" style="top: <%= top %>">
                    <a href="<%= contract[key] %>" target="_blank">
                        <%= __('about.' + key) %>
                        <img src="<%= '/icon/' + key + '.svg'%>" width="30px" />
                    </a>
                </div>
            <% } else { %>
            
                <div class="c-show__line">
                    <span></span>
                </div>

                <div class="c-show__info c-show__info--right" style="top: <%= top %>">
                    <a href="<%= contract[key] %>" target="_blank">
                        <img src="<%= '/icon/' + key + '.svg'%>" width="30px" />
                        <%= __('about.' + key) %>
                    </a>
                </div>
            <% } %>

            <% count ++ %>
        <% } %>
        
        <% if (count % 2 === 0) { %>
            <div class="c-show__dot">
                <span></span>
            </div>
        <% } %>
        
    </div>
<% } %>