
<% if(projects) { %>
    <div class="c-show u-center-align">

        <div class="c-show__line">
            <span></span>
        </div>

        <div class="c-show__title c-show__title--left">
            <span><%= (__('about.projects')).toUpperCase() %></span>
        </div>

        <div class="c-show__line">
            <span></span>
        </div>
        
        <% var count = 0 %>
        <% projects.forEach( function(item) { %>
            <% var top = (155 + count * 120) + 'px' %>

            <div class="c-show__dot">
                <span></span>
            </div>

            <div class="c-show__info c-show__info--<%= count % 2 === 0 ? 'right' : 'left' %>" style="top: <%= top %>">
                <a href="<%= item.url %>" <% if (item.url) { %> target="_blank" <% } %>><%= item.name %></a> 
            </div>

            <div class="c-show__info c-show__info--<%= count % 2 === 0 ? 'left' : 'right' %>" style="top: <%= top %>; margin-top: -30px;">
                <% if (item.imgUrl) { %>
                    <img class="c-show__pic" src="<%= item.imgUrl %>" />
                <% } %>
            </div>

            <div class="c-show__line--large">
                <span></span>
            </div>
            <% count++ %>
        <% }) %>
    </div>
<% } %>