
<% if(projects) { %>
    <div class="c-show u-center-align">

        <div class="c-show__line">
            <span></span>
        </div>

        <div class="c-show__title c-show__title--left">
            <span><%= (__('about.projects')).toUpperCase() %></span>
        </div>

        <div class="c-show__line">
            <span></span>
        </div>
        
        <% var count = 0 %>
        <% projects.forEach( function(item) { %>
            <% var top = (155 + count * 120) + 'px' %>

            <% if (count % 2 === 0) { %>
                <div class="c-show__dot">
                    <span></span>
                </div>
            <% } else { %>
                <div class="c-show__line--large">
                    <span></span>
                </div>
            <% } %>


            <div class="c-show__info c-show__info--right" style="top: <%= top %>">
                <a href="<%= item.url %>" <% if (item.url) { %> target="_blank" <% } %>><%= item.name %></a> 
            </div>

            <div class="c-show__info c-show__info--left" style="top: <%= top %>; margin-top: -30px;">
                <% if (item.imgUrl) { %>
                    <img class="c-show__pic" src="<%= item.imgUrl %>" />
                <% } %>
            </div>

            <% count ++ %>
        <% }) %>
        
        <% if (count % 2 === 0) { %>
            <div class="c-show__dot">
                <span></span>
            </div>
        <% } %>
        
    </div>
<% } %>