
<% if(skills) { %>
    <div class="show center-align">

        <div class="xline">
            <span></span>
        </div>

        <div class="title right-border">
            <span><%= (__('about.skills')).toUpperCase() %><span>
        </div>

        <% var count = 0 %>
        <% for (var key in skills) { %>
            <% var top = (95 + count * 50) + 'px' %>

            <% if (count % 2 === 0) { %>
                <div class="dot">
                    <span></span>
                </div>
            <% } else { %>
                <div class="line">
                    <span></span>
                </div>
            <% } %>


            <div class="left" style="top: <%= top %>">
                <%= key %> : 
                <img src="<%= '/icon/' + key + '.svg'%>" width="30px" />
            </div>

            <div class="right" style="top: <%= top %>">
                <% var degree = skills[key] % 11  %> 
                <% for (var i = 0; i < degree; i ++)  { %>
                    <span class="star"></span>
                <% } %> 
                <% for (var i = 0; i < 10 - degree; i ++)  { %>
                    <span class="star no-star"></span>
                <% } %>
            </div>

            <% count ++ %>
        <% } %>
        
        <% if (count % 2 === 0) { %>
            <div class="dot">
                <span></span>
            </div>
        <% } %>
        
    </div>
<% } %>