
<% if(skills) { %>
    <div class="c-show u-center-align">

        <div class="c-show__line--large">
            <span></span>
        </div>

        <div class="c-show__title c-show__title--right">
            <span><%= (__('about.skills')).toUpperCase() %></span>
        </div>

        <% var count = 0 %>
        <% for (var key in skills) { %>
            <% var top = (95 + count * 50) + 'px' %>

            <% if (count % 2 === 0) { %>
                <div class="c-show__dot">
                    <span></span>
                </div>
            <% } else { %>
                <div class="c-show__line">
                    <span></span>
                </div>
            <% } %>


            <div class="c-show__info c-show__info--left" style="top: <%= top %>">
                <%= key %> : 
                <img src="<%= '/icon/' + key + '.svg'%>" width="30px" />
            </div>

            <div class="c-show__info c-show__info--right" style="top: <%= top %>">
                <% var degree = skills[key] % 11  %> 
                <% for (var i = 0; i < degree; i ++)  { %>
                    <span class="c-show__star"></span>
                <% } %> 
                <% for (var i = 0; i < 10 - degree; i ++)  { %>
                    <span class="c-show__star--none"></span>
                <% } %>
            </div>

            <% count ++ %>
        <% } %>
        
        <% if (count % 2 === 0) { %>
            <div class="c-show__dot">
                <span></span>
            </div>
        <% } %>
        
    </div>
<% } %>